<template>
  <button class="button" :class="{ animate: clicked }" @click="click">
    <span class="button__label"> {{ label }} </span>
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      clicked: false
    }
  },

  methods: {
    click() {
      this.clicked = true
      this.$emit("click")

      setTimeout( () =>
        this.clicked = false
      , 600)
    }
  }
};
</script>

<style lang="stylus" scoped>

.button
  width 50px
  height 50px
  display: flex
  flex-direction: column
  align-items: center
  padding: 0
  outline: none
  border none
  border-radius 50%
  background-color: black
  color: white
  font-size 2em
  transition: all 0.3s ease-in-out

</style>
