<template lang="html">
  <div class="menu">
    <a v-if="!index" @click="go">
      <img style="height:35px" :src="require('@/assets/back.svg')" /> <span>Back</span>
    </a>
    <div v-else class=""> status </div>
  </div>
</template>

<script>

export default {
  computed: {
    route(){
      return this.$route.fullPath.split('?')[0]
    },

    index(){
      return this.route === '/'
    }
  },
  methods: {
    go(){
      switch ( this.route ) {
        case '/fridge' : this.$router.push('/') ; break
        case '/list' : this.$router.push('/') ; break
        default: this.$router.go( -1 )
      }
    }
  }
}

</script>

<style lang="stylus">
.menu
  width 100%
  max-width 420px
  height 50px
  /* background white */
  margin auto
  /* border-bottom 2px solid rgba(0,0,0,.1) */
  display flex
  align-items center
  a
    display flex
    align-items center
    text-decoration none
    wont-weight 400
    color black
    font-size 1.2em

@media ( max-width : 640px )
  .menu
    height 20px
    width 90%
</style>
