<template lang="html">
  <div class="panel">
    <h2 @click="setDay(0)" :style="day === 0 ? 'text-decoration: underline': 'opacity: .5'">Today</h2>
    <h2 @click="setDay( i+1 )" :style="i+1 === day ? 'text-decoration: underline': 'opacity: .5'"
      v-for="(k,i) in new Array(3)"
      :key="i"
    >
      {{ prin( i+1 ) }}
    </h2>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  computed: {
    day(){
      return this.$store.state.plan.currentDay
    }
  },
  methods: {
    prin( i ){
      return moment( new Date() ).add( i, 'day').format('dddd')
    },
    setDay( i ){
      this.$store.commit('plan/selectDay', i )
    }
  },
}
</script>

<style lang="stylus">
.panel
  width 90%
  max-width 420px
  margin auto
  display flex
  overflow-y scroll
  h2
    margin-right 12px
    cursor pointer

</style>
