<template lang="html">
  <div v-if="!lock" class="main_bg">
    <Vue2InteractDraggable
      v-if="isVisible"
      :interact-out-of-sight-x-coordinate="500"
      :interact-max-rotation="15"
      :interact-x-threshold="200"
      :interact-y-threshold="200"
      :interact-lock-swipe-down="true"
      :interact-lock-swipe-up="true"
      @draggedRight="right"
      @draggedLeft="left"
      @swipeLeft="left"
      class="">
      <div class="receipt">
        <div :style="gStyle( item.image )" class="img">

        </div>
        <div class="desc">
          <!-- <small>{{scope}}</small> -->
          <div>
            <h4>
              <img style="height: 25px" :src="require(`@/assets/${tt}.svg`)" />
              {{tt}}</h4>
          </div>
          <h2>{{ item.desc | short }}</h2>
        </div>
        <!-- <span v-for="tag in item.tags">{{ tag }}</span> -->
      </div>
    </Vue2InteractDraggable>
    <div v-else class="receipt locked">
      <div :style="gStyle( item.image )" class="img">

      </div>
      <div class="desc">
        <!-- <small>{{scope}}</small> -->
        <div>
          <h4>
            <img style="height: 25px" :src="require(`@/assets/${tt}.svg`)" />
            {{tt}}
          </h4>
        </div>
        <h2>{{ item.desc | short }}</h2>
      </div>
      <!-- <span v-for="tag in item.tags">{{ tag }}</span> -->
    </div>
    <div class="background">
      <div class="">
        <img :src="require('@/assets/Like/unactive.svg')" />
      </div>
      <div class="">
        <img :src="require('@/assets/Hate/unactive.svg')" />
      </div>
    </div>
  </div>
  <div v-else class="main_bg">
    <div class="receipt locked">
      <div :style="gStyle( item.image )" class="img">

      </div>
      <div class="desc">
        <!-- <small>{{scope}}</small> -->
        <div>
          <h4>
            <img style="height: 25px" :src="require(`@/assets/${tt}.svg`)" />
            <b style="flex:2">{{tt}}</b>
            <img
            @click="unlock" style="height: 25px;align-self: end; cursor: pointer"
            :src="require(`@/assets/active.svg`)" />
          </h4>
        </div>
        <h2>{{ item.desc | short }}</h2>
      </div>
      <!-- <span v-for="tag in item.tags">{{ tag }}</span> -->
    </div>
  </div>
</template>

<script>
import { Vue2InteractDraggable , InteractEventBus } from 'vue2-interact'

export default {
  props: ['item', 'tt'],
  computed: {
    lock(){
      switch ( this.tt ) {
        case 'breakfast':
            return this.$store.state.plan.breakfastLock
          break;
          case 'lunch':
              return this.$store.state.plan.lunchLock
            break;
            case 'dinner':
                return this.$store.state.plan.dinnerLock
              break;
      }
    }
  },
  components: {
    Vue2InteractDraggable
  },
  filters: {
    short( s ){
      const ss = s.split( /\s+/g )
      return ss.slice( 0, Math.min( ~~ ss.length /2, 5 ) ).join(' ')
    }
  },
  data() {
    return {
      isVisible: true,
      index: 0,
      scope: 0
    }
  },
  async mounted(){
    this.scope = await this.$api.run(this.item.input, this.$store.state.user.name )
  },
  methods: {
    unlock(){
      this.$store.commit( 'plan/lock', {
        what: this.tt, bool: false
      })
    },
    loaded(){
      if ( process.browser )
        window.scrollTo( 0, document.body.scrollHeight )
    },
    gStyle( image ){
      return `
        background-image: url( ${ image }?w=200&h=200&fit=clip );
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      `
    },
    async leaning( bool ){
      this.$api.train({
        input: this.item.input,
        output: { ...{
          breakfast: .5,
          lunch: .5,
          dinner: .5,
        }, [this.tt] : 1 - bool }
      }, this.$store.state.user.name)
    },
    async move(){
      const n = this.$store.state.user.name
      if ( !this.$store.state.plan.breakfastLock )
        this.$store.commit('plan/pushBreakfast', await this.$api.findmeal('breakfast', n) )
      if ( !this.$store.state.plan.lunchLock )
        this.$store.commit('plan/pushLunch', await this.$api.findmeal('lunch', n) )
      if ( !this.$store.state.plan.dinnerLock )
        this.$store.commit('plan/pushDinner', await this.$api.findmeal('dinner', n) )
    },
    async left(e){
      await this.move()
      await this.leaning(1)

      await new Promise( res => setTimeout(res, 200 ) )
      this.isVisible = false

      await new Promise( res => setTimeout(res, 300 ) )
      this.isVisible = true
    },
    async right(){
      await new Promise( res => setTimeout(res, 200 ) )
      this.isVisible = false

      this.$store.commit( 'plan/lock', {
        what: this.tt, bool: true
      })
      await this.leaning(0)

      await new Promise( res => setTimeout(res, 300 ) )
      this.isVisible = true
    }
  }
}
</script>

<style lang="stylus">
.main_bg
  position relative
.background
  position absolute
  width 100%
  margin auto
  max-width 420px
  left calc( (100vw - 420px) /2 )
  display flex
  height calc( 25vh - 24px)
  top 0px
  z-index -100
  & > div
    width 50%
    display flex
    align-items center
    justify-content center
    height 100%
.receipt
  width 90%
  max-width 420px
  height calc( 25vh - 24px)
  margin 24px auto
  border-radius 3px
  position relative
  display flex
  align-items center
  background white
  box-shadow 0 0 12px rgba(0,0,0,.15)
  &.locked
    box-shadow none
    background #f7f2e9
    border 2px solid black
  h4
    display flex
    align-items center
    img
      margin-right 12px
  .desc
    width calc(100% - 170px)
    margin-left 10px
    height 90px
  .img
    height 90px
    width 90px
    flex-shrink 1
    border-radius 3px
    margin-left 12px
  h2
    margin 12px 0
    font-size 1em
    font-weight 200
  span
    padding 4px 6px
    margin 0 4px
    line-height 35px
    background #eee
    border-radius 3px

@media ( max-width: 480px )
  .background
    left 5%
</style>
