<template lang="html">
  <div class="submenu">
    <h2 @click="to('fridge')" :style="fridge">Your fridge</h2>
    <h2 @click="to('list')" :style="list">Grosery list</h2>
  </div>
</template>

<script>
export default {
  computed: {
    route(){
      return this.$route.fullPath
    },

    fridge(){
      return this.route === '/fridge' ? 'background:black;color: white' : ''
    },
    list(){
      return this.route === '/list' ? 'background:black;color: white' : ''
    }
  },
  methods: {
    to(l){
      this.$router.push( '/'+l )
    }
  }
}
</script>

<style lang="stylus">
.submenu
  display flex
  h2
    font-size 1em
    padding 12px
    margin 4px 0
    margin-bottom 12px
    border-radius 12px
    border 2px solid black
    &:first-child
      border-top-right-radius 0px
      border-bottom-right-radius 0px

    &:last-child
      border-top-left-radius 0px
      border-bottom-left-radius 0px

  & > h2
    width 50%
    text-align center
</style>
