<template lang="html">
  <div class="container">
    <submenu />
    <div v-if="fr.length" class="fridge">
      <div v-for="({ name },i) in fr" :key="i" class="shelf">
        <div class="">
          <h4>
            <span style="max-width: 80%">{{name}}</span>
            <span @click="remove(i)" class="close">×</span>
          </h4>
          <span>time last</span>
          <small>buy time</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import submenu from '@/components/submenu'

export default {
  middleware: 'default',

  components: {
    submenu
  },

  computed: {
    fr(){
      return (this.$store.state.fridge.products||[]).filter(Boolean)
    }
  },

  methods: {
    async remove(i){
      this.$store.commit('fridge/remove', i )
      await this.$api.fridgeremove(
        i,
        this.$store.state.user.name
      )
      const { products } = await this.$api.fridge( this.$store.state.user.name )
      this.$store.commit('fridge/push', products )
    }
  },

  beforeRouteEnter(to,from,next){
    next( async m => {
      const { products } = await m.$api.fridge( m.$store.state.user.name )
      m.$store.commit('fridge/push', products )
    })

  }
}
</script>

<style lang="stylus" scoped>
.container
  width 90%
  max-width 420px
  margin auto
  margin-bottom 70px
  .fridge
    width 100%
    border-radius 18px
    padding 8px 0px
    background #e2d7c4
    //box-shadow inset 0 0 12px rgba(0,0,0,.15)
    .shelf
      width 100%
      margin 8px auto
      height 90px
      background white
      border-bottom 2px solid rgba(0,0,0,.15)
      small
        display block
      .close
        float right
        margin-right 2px
        cursor pointer
        font-size 2em
      h2
        width 100%
        margin-right 4px
      button
        border none
        bottom 10px
        padding 4px
        outline 0
        cursor pointer
        background #f7c835
        border-radius 3px
      img
        height 100px
        margin-left 10px
        margin-top 10px
        border-radius 3px
      & > div
        width 100%
        padding 12px 24px
</style>
