<template>
  <section class="container">
    <!-- <Menu /> -->
    <Panel />
    <!-- <h2>Breakfast</h2> -->
    <div v-if="breakfast" class="">
      <receipt :tt="'breakfast'" :item="breakfast" />
    </div>
    <!-- <h2>Lunch</h2> -->
    <div v-if="lunch" class="">
      <receipt :tt="'lunch'" :item="lunch" />
    </div>
    <!-- <h2>Dinner</h2> -->
    <div v-if="dinner" class="">
      <receipt :tt="'dinner'" :item="dinner" />
    </div>
    <nuxt-link class="bth" to="/list">
      Open grosery list
    </nuxt-link>
  </section>
</template>

<script>
import receipt from '@/components/Receipt'
import Panel from '@/components/Panel'
import Menu from '@/components/Menu'

export default {
  middleware: 'default',
  components: {
    receipt, Panel, Menu
  },
  computed: {
    breakfast(){
      return this.$store.state.plan.breakfast
    },
    lunch(){
      return this.$store.state.plan.lunch
    },
    dinner(){
      return this.$store.state.plan.dinner
    }
  },
  data: () => ({

  }),
  methods: {
    async add(){
    }
  },
  async mounted(){
    try {
      if ( !this.breakfast ) {
        if ( !this.$store.state.plan.breakfastLock )
          this.$store.commit('plan/pushBreakfast', await this.$api.findmeal('breakfast') )
        if ( !this.$store.state.plan.lunchLock )
          this.$store.commit('plan/pushLunch', await this.$api.findmeal('lunch') )
        if ( !this.$store.state.plan.dinnerLock )
          this.$store.commit('plan/pushDinner', await this.$api.findmeal('dinner') )
      }
    } catch( e ){

    }

  }
}
</script>

<style lang="stylus" scoped>
.container
  & > h2
    text-align center
  .bth
    background black
    width 90%
    margin auto
    max-width 420px
    border-radius 3px
    color white
    padding 12px 24px
    text-align center
    display block
    text-decoration none

  button
    margin 12px auto
    display block
    padding 12px 24px
    font-size 2em
</style>
