<template lang="html">
  <div class="container">
    <submenu />
    <div v-for="({ean, name , price,pricingUnit },i) in list" :key="i" class="items">
      <div class="img">
        <div @click="have(ean, i)" :style="$store.state.list.done.includes(ean) ? 'background: black': ''" class="label">
        </div>
      </div>
      <div class="desc">
        <div class="">
          <p :style="$store.state.list.done.includes(ean) ? 'text-decoration: line-through': ''"> {{name}} <small>{{ean}}</small></p>
        </div>
        <div class="">

          <p>  <b>{{pricingUnit}}</b> {{price}} € </p>
        </div>
      </div>
    </div>
    <div class="total">
      Total: {{total}} €
    </div>
    <nuxt-link class="bth" to="/map">Find grosery</nuxt-link>
  </div>
</template>

<script>
import submenu from '@/components/submenu'

export default {
  middleware: 'default',

  methods: {
    have( ean, i){
      if ( !this.$store.state.list.done.includes(ean) ) {
        this.$store.commit('list/don', ean.toString() )
        this.$api.fridgeadd( ean, this.$store.state.user.name )
      }
    }
  },

  computed: {
    ean(){
      return this.$store.getters['plan/ean']
    },
    list(){
      return this.$store.state.list.products
    },
    total(){
      const p = this.$store.state.list.products
      return p ? p.reduce((acc, {price})=>acc+price,0).toFixed(2) : 0
    }
  },
  beforeRouteEnter(to,from,next){
    next( async m => {
      const _d = await m.$api.ean(m.ean)
      console.log(
        _d
      )
      m.$store.commit('list/push', _d )
    })
  },
  components: {
    submenu
  }
}
</script>

<style lang="stylus" scoped>
.container
  width 90%
  max-width 420px
  margin auto
  margin-bottom 70px
  .img
    display flex
    align-items center
    justify-content center
    width 50px
    height 100%
    .label
      width 25px
      height 25px
      border-radius 50%
      border 2px solid black
      cursor pointer
  .total
    height 140px
    float right
    font-size 1.2em
  .bth
    background black
    width 90%
    margin auto
    max-width 420px
    border-radius 3px
    color white
    padding 12px 24px
    text-align center
    display block
    text-decoration none
    position fixed
    bottom 20px
  .items
    width 100%
    height 90px
    border-bottom 2px solid black
    display flex
    img
      height 80%
      margin-top 10px
      border-radius 3px
    .desc
      display flex
      width 100%
      margin-left 12px
      position relative
      button
        position absolute
        border 1px solid black
        background transparent
        bottom 10px
        right 0
        padding 4px
        outline 0
        cursor pointer
        border-radius 3px
      &:last-child
        border-bottom none
      & > div
        &:first-child
          flex 2
</style>
