<template lang="html">
  <div class="layer">
    loading your profile...
  </div>
</template>

<script>
export default {
  middleware: 'default',
  
  layout: 'start',
  async mounted(){
    await new Promise( res => setTimeout( res, 120 ) )
    this.$router.push('/')
  }
}
</script>

<style lang="stylus">
.layer
  width 100vw
  height 100vh
  display flex
  align-items center
  justify-content center
</style>
