<template lang="html">
  <div class="bg">
    <img :src="require('~/assets/logo.png')" />
    <input style="position: relative;top: 1px" placeholder="Username" v-model="name" />
    <input placeholder="Password" />
    <button @click="go">JOIN</button>
  </div>
</template>

<script>
export default {
  layout: 'start',
  data: () => ({
    name: ""
  }),
  methods: {
    go(){
      this.$store.commit( 'user/set',
        this.name.replace(/(\W|\d)+/g, '')
      )
      this.$router.push('/start')
    }
  }
}
</script>

<style lang="stylus" scoped>
.bg
  width 100%
  height 80vh
  display flex
  align-items center
  justify-content center
  flex-direction column
  img
    margin-bottom 90px
    width 70%
    max-width 180px
  button
    width 90%
    max-width 420px
    outline none
    font-size 1.2em
    border none
    background black
    color white
    padding 12px 24px
  input
    width 90%
    max-width 420px
    outline none
    padding 12px 24px
    font-size 1.2em
    border 2px solid black
</style>
