<template lang="html">
  <div class="wrap">
    <p>Aalto-yliopisto, 02150 Espoo</p>
    <div id="map-wrap" style="height: 80vh">
     <no-ssr>
       <l-map :zoom=17 :center="center">
         <l-tile-layer :url="url"></l-tile-layer>
         <l-marker :lat-lng="center">
           <l-icon :iconSize="[64,64]" :iconUrl="require('@/assets/me.png')">
           </l-icon>
         </l-marker>
         <l-marker v-for="({lat, lon}, i) in ks" :key="i" :lat-lng="[lat,lon ]">
           <l-icon :iconUrl="require('@/assets/k.png')">
           </l-icon>
         </l-marker>
       </l-map>
     </no-ssr>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'default',
  
  data: () => ({
    center: [60.1866693,24.8254933],
    ks: [],
    url: "https://api.maptiler.com/maps/positron/256/{z}/{x}/{y}.png?key=J4C9J2UbTjX8D8V7gv8b" // http://{s}.tile.osm.org/{z}/{x}/{y}.png
  }),
  async mounted(){
    const [lat, lon] = this.center
    this.ks = await this.$api.coords({
      lat,
      lon
    })
  }
}
</script>

<style lang="stylus" scoped>
.wrap
  p
    display block
    width 90%
    max-width 420px
    font-size 1.2em
    margin 12px auto
</style>
