<template>
  <section class="container">
    <h2 class="tit"> {{ index }} / {{ 9 }}</h2>
    <div v-if="current" class="fixed fixed--center" style="z-index: 3">
      <Vue2InteractDraggable
        v-if="isVisible"
        :interact-out-of-sight-x-coordinate="500"
        :interact-max-rotation="15"
        :interact-x-threshold="200"
        :interact-y-threshold="200"
        @draggedRight="right"
        @draggedLeft="left"
        @swipeLeft="left"
        class="rounded-borders card card--one">
        <div class="flex flex--center current" style="height: 100%">
          <img :src="current.image+'?w=800&h=800&fit=clip'" />
          <p>{{current.title}}</p>
          <p style="margin-top: 12px;max-width: 90%">
            <small>
              {{current.desc}}
            </small>
          </p>
        </div>
      </Vue2InteractDraggable>
    </div>
    <div class="background_mychibo">
      <div @click="dragLeft" class="">
        <img :src="require('@/assets/Like/unactive.svg')" />
      </div>
      <div @click="dragRight" class="">
        <img :src="require('@/assets/Hate/unactive.svg')" />
      </div>
    </div>
    <div
      v-if="next"
      class="rounded-borders card card--two fixed fixed--center"
      style="z-index: 2">
      <div class="flex flex--center current" style="height: 100%">
        <img :src="next.image+'?w=800&h=800&fit=clip'" />
        <p>{{next.title}}</p>
        <p style="margin-top: 12px;max-width: 90%">
          <small>
            {{current.desc}}
          </small>
        </p>
      </div>
    </div>
    <div
      v-if="index + 2 < cards.length"
      class="rounded-borders card card--three fixed fixed--center"
      style="z-index: 1">
      <div class="flex flex--center" style="height: 100%">
        <h1>test</h1>
      </div>
    </div>
  </section>
</template>
<script>
import { Vue2InteractDraggable , InteractEventBus } from 'vue2-interact'
import BaseButton from "@/components/BaseButton"


export default {
  middleware: 'default',

  components: { Vue2InteractDraggable, BaseButton },
  layout: 'start',
  watch: {
    index( to ){
        if ( this.cards.length === to )
          this.$router.push('/load')
    }
  },
  data() {
    return {
      isVisible: true,
      index: 0,
      cards: [
      ],
      interactEventBusEvents: {
        draggedLeft: 'INTERACT_DRAGGED_LEFT',
        draggedRight: 'INTERACT_DRAGGED_RIGHT',
      },
    }
  },
  async mounted(){
    this.cards.push( await this.$api.random({ex: this.cards.map( ({seed}) => seed ) }) )
    this.cards.push( await this.$api.random({ex: this.cards.map( ({seed}) => seed ) }) )
    this.cards.push( await this.$api.random({ex: this.cards.map( ({seed}) => seed ) }) )

  },
  computed: {
    current() {
      return this.cards[this.index]
    },
    next() {
      return this.cards[this.index + 1]
    }
  },
  methods: {
    async gen(){
      if ( this.cards.length < 9 && this.index + 2 === this.cards.length )
        this.cards.push( await this.$api.match({ex: this.cards.map( ({seed}) => seed ) }, this.$store.state.user.name) )
    },
    async right() {

      await this.$api.like(
          this.current.input,
          this.$store.state.user.name
      )

      await this.gen()

      await new Promise( res => setTimeout(res, 200 ) )
      this.isVisible = false

      await new Promise( res => setTimeout(res, 300 ) )
      this.index++
      this.isVisible = true

    },
    async left() {

      await this.$api.hate(
          this.current.input, this.$store.state.user.name
      )

      await this.gen()

      await new Promise( res => setTimeout(res, 200 ) )
      this.isVisible = false

      await new Promise( res => setTimeout(res, 300 ) )
      this.index++
      this.isVisible = true
    },
    dragLeft() {
      InteractEventBus.$emit('INTERACT_DRAGGED_LEFT')
      this.left()
    },
    dragRight() {
      InteractEventBus.$emit('INTERACT_DRAGGED_RIGHT')
      this.right()
    }
  }
}
</script>

<style lang="stylus" scoped>
_yel = #f7c835
_bg = #f7f2e9
_dark = #ffcc00

.tit
  text-align: center
  margin 12px 0
.current
  p
    text-align center
  img
    width 100%
    margin-bottom 24px
    user-select none

.background_mychibo
  position fixed
  bottom 24px
  width 100vw
  display: flex
  align-items: center
  justify-items: center
  justify-content: center
  z-index 1000
  & > div
    width 35%
    text-align center
.container
  background _bg
  width: 100%
  height: 100vh

.flex
  display: flex
  flex-direction column
  &--center
    align-items: center
    justify-items: center
    justify-content: center



.fixed
  position: fixed
  &--center
    left: 50%
    top: 50%
    transform: translate(-50%, -55%)


.rounded-borders
  border-radius: 12px

.card
  width: 300px
  height: 400px
  background white
  box-shadow 0 0 12px rgba(0,0,0,.15)
  &--one
    /* background-color: _dark */
  &--two
    /* background-color: _dark */
    width: 280px
    top: 51%
  &--three
    width: 260px
    top: 51.8%

@media ( max-width: 640px )
  .background
    width 90%
    left 5%
</style>
